.profile {
  position: relative;
  margin:10px;
  float: left;
  text-align: center;
}

.profile:first-child {
  margin-left:0px;
  padding-left:0px;
}
.profile:last-child {
  margin-right:0px;
  padding-right:0px;
}
.profile img {
  width: 300px;
  border-radius: 50%;
  border-size:1px;
  border:5px solid #fff;
}

.profile.active img {
  border:5px solid #EFC233;
}

.profiles {
  display: block;
  margin:0 auto;
  text-align: center;  
  min-height: 300px;
  max-width: 500px;
}

.link-ajax {
  border-bottom:1px dotted blue;
}