body,
html {
  height: 100%
}
body {
  font: 400 14px "Open Sans",sans-serif;
  color: #fff;
  background: #0b1118
}
a {
  color: #fff;
  outline: 0;
  text-decoration: none;
  -webkit-transition: all .3s ease;
  transition: all .3s ease
}
a:active,
a:hover {
  text-decoration: none;
  color: #ff5b5b
}
p {
  margin: 0 0 20px
}
img {
  display: block;
  max-width: 100%;
  margin: 0
}
b,
strong {
  font-weight: 700
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans",sans-serif;
  font-weight: 700;
  color: #fff;
  margin: 0 0 20px;
  line-height: normal;
  text-transform: uppercase
}
.h1,
h1 {
  font-size: 24px
}
.h2,
h2 {
  font-size: 20px
}
.h3,
h3 {
  font-size: 18px
}
.h4,
h4 {
  font-size: 16px
}
.h5,
h5 {
  font-size: 14px
}
.h6,
h6 {
  font-size: 12px
}
ol,
ul {
  margin: 0 0 20px
}
q {
  margin: 0 0 20px;
  display: block
}
svg {
  display: block;
  overflow: hidden
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #96989c;
  opacity: 1
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #96989c;
  opacity: 1
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #96989c;
  opacity: 1
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #96989c;
  opacity: 1
}
input::-ms-clear {
  display: none
}
.wrapper {
  overflow: hidden;
  min-height: 100%;
  padding-bottom: 30px
}
.container {
  max-width: none!important
}
.form-group {
  margin-bottom: 0;
  padding-bottom: 20px
}
.form-control {
  background: #31343e;
  height: 48px;
  border: 1px solid #31343e;
  color: #fff;
  outline: 0;
  box-shadow: none!important;
  font: 400 14px "Open Sans",sans-serif;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  border-radius: 4px
}
.form-control:focus {
  border-color: #6d6f76;
  background: #31343e;
  color: #fff
}
@media screen and (min-width:1200px) {
  .container {
    max-width: 1140px!important
  }
}