.header {
  padding-top: 25px;
  padding-bottom: 25px
}
.header__pull {
  width: 16px;
  height: 16px;
  position: absolute;
  right: 15px;
  top: 42px;
  z-index: 101;
  cursor: pointer
}
.active-nav .header__pull {
  position: fixed
}
.header__pull div {
  display: block;
  width: 20px;
  height: 2px;
  background: #fff;
  position: absolute;
  left: -2px;
  border-radius: 3px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease
}
.header__pull div:nth-child(1) {
  top: 0
}
.active-nav .header__pull div:nth-child(1) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 7px
}
.header__pull div:nth-child(2) {
  top: 7px
}
.active-nav .header__pull div:nth-child(2) {
  opacity: 0
}
.header__pull div:nth-child(3) {
  bottom: 0
}
.active-nav .header__pull div:nth-child(3) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  bottom: 7px
}
.header__nav {
  margin: 0;
  padding: 30px 50px 30px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  z-index: 100;
  background: #0b1118;
  height: 100%;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  overflow-x: hidden;
  overflow-y: auto
}
.active-nav .header__nav {
  -webkit-transform: translateX(0);
  transform: translateX(0)
}
.header__nav-link {
  text-transform: uppercase;
  padding: 10px 15px;
  font-weight: 600
}
.header__nav-link.active {
  color: #ff5b5b
}
.header__user {
  font-weight: 600
}
.header__user:active,
.header__user:hover {
  color: #fff
}
.header__user-name {
  padding-right: 15px
}
.header__user-img {
  max-width: none;
  width: 50px;
  height: 50px;
  border-radius: 50%
}
@media screen and (min-width:992px) {
  .header__nav {
    position: relative;
    width: auto;
    margin: 0 0 0 -30px;
    height: auto;
    -webkit-transition: none;
    transition: none;
    padding: 0;
    overflow: visible;
    -webkit-transform: none;
    transform: none
  }
  .header__nav-item {
    padding: 10px 0 10px 30px
  }
  .header__nav-link {
    padding: 0
  }
}


body,
html {
  height: 100%
}
body, .wrapper {
  font: 400 14px "Open Sans",sans-serif;
  color: #fff;
  background: #0b1118 !important;
}
a {
  color: #fff;
  outline: 0;
  text-decoration: none;
  -webkit-transition: all .3s ease;
  transition: all .3s ease
}
a:active,
a:hover {
  text-decoration: none;
  color: #ff5b5b
}
p {
  margin: 0 0 20px
}
img {
  display: block;
  max-width: 100%;
  margin: 0
}
b,
strong {
  font-weight: 700
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans",sans-serif;
  font-weight: 700;
  color: #fff;
  margin: 0 0 20px;
  line-height: normal;
  text-transform: uppercase
}
.h1,
h1 {
  font-size: 24px
}
.h2,
h2 {
  font-size: 20px
}
.h3,
h3 {
  font-size: 18px
}
.h4,
h4 {
  font-size: 16px
}
.h5,
h5 {
  font-size: 14px
}
.h6,
h6 {
  font-size: 12px
}
ol,
ul {
  margin: 0 0 20px
}
q {
  margin: 0 0 20px;
  display: block
}
svg {
  display: block;
  overflow: hidden
}
input::-ms-clear {
  display: none
}
.wrapper {
  overflow: hidden;
  min-height: 100%;
  padding-bottom: 30px
}
.container {
  max-width: none!important
}
@media screen and (min-width:1200px) {
  .container {
    max-width: 1140px!important
  }
}


